<div class="project-item">
  <a href="{{ file_url(fields.view_node.content|striptags|trim) }}" class="project-item-link">
    <div class="project-item-info">
      <div class="project-item-location">{{ fields.field_project_location.content }}</div>
      <div class="project-item-date">{{ fields.field_project_date.content }}</div>
    </div>
    <div class="project-item-title-wrapper">
      <h2 class="project-item-title">{{ fields.title.content }}</h2>
    </div>
    {# Twig Tweak module is installed to be able to use "image_style" filter. #}
    <img src="{{ file_url(fields.uri.content|striptags|trim|image_style('projects_page_block')) }}" alt="" class="project-item-image">
  </a>
</div>