{% block header %}
  {{ page.header }}
{% endblock %}
{% block page_title %}
  <section class="section-page-title">
    <div class="uk-container">
      <div class="uk-grid">
        <div class="breadcrumb uk-width-1-2">{{ page.breadcrumb }}</div>
        <div class="page-title uk-width-1-2"><h1>{{ node.title.value }}</h1></div>
      </div>
    </div>
  </section>
{% endblock %}
{# {{ kint(page) }} #} 
{{ page.highlighted }}
{{ page.help }}  
<main role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  {{ page.content }}
</main>
{{ page.footer }}